// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo {
  padding: 10px;

  &__content {
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
    font-size: 1.6em;
    cursor: pointer;
  }

  &__complete {
    display: block;
  }

  &__text {
    display: block;
    vertical-align: middle;
  }

  &__links {
    font-size: 1.2em;
    padding: 0 0 0 25px;
  }

  &--completed {
    .todo__text {
      color: #999999;
      text-decoration: line-through;
    }
  }
}

.todo-new {
  display: flex;
  align-items: center;

  &__field {
    padding: 0 5px;
  }

  &__text {
    border: 1px solid rgba(0,0,0,.24);
    border-radius: 4px;
    padding: 10px;
    appearance: none;
    font-size: 1.4em;
  }

  &__button {
    color: #ffffff;
    background-color: rgba(63, 81, 181, 1.0);
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 1.4em;

    &:hover {
      background-color: rgba(63, 81, 181, 0.8);
    }
  }
}
